# Virtualenv stuff
venv/

# tensorflow logs
logs/
*.mi-notebook

# checkpoints dir
checkpoints/
cnn_architecture/

# data
data/

# idea IDE 
.idea/

# ipython checkpoint
.ipynb_checkpoints/

# Python stuff
*.pyc
*.pyx
*.c
*.o
*.so

# Project stuff
*.so


